table {
  border: solid;
  border-width: 1px 0;
}

.data-field {
  padding: 2px 5px;
  text-align: center;
}

.adding-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 30px;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: grey;
  }

  &:active {
    color: lightgrey;
  }
}